.slider-wrapper{
    overflow: hidden;
    width: 100%;
    position: relative;
    .slider{
        height: 3.2rem;
        overflow: hidden;
        position: relative;
        left: 0;
        width: 100%;
    }
}